/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
.croupier
.crystal/
/coverage/

# These are files used in test cases
/spec/testcases/**/???
/spec/testcases/**/counter
/spec/testcases/**/input
/spec/testcases/**/input2
