name: Tests
on:
  push:
  pull_request:
    branches: [master]
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download source
        uses: actions/checkout@v4
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Run tests
        run: |
          shards install
          crystal tool format --check
          shards build
          crystal spec -v
