name: Coverage
on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download source
        uses: actions/checkout@v4
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Run tests using kcov
        run: |
          # Install kcov dependencies and kcov itself
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev libelf-dev libdw-dev cmake gcc binutils-dev
          wget https://github.com/SimonKagstrom/kcov/archive/master.tar.gz
          tar xzf master.tar.gz
          cd kcov-master
          mkdir build
          cd build
          cmake ..
          make
          sudo make install
          cd ../..

          # Install project dependencies and build
          shards install
          crystal build src/run_tests.cr

          # Run tests with kcov coverage
          kcov --clean --include-path=./src coverage ./run_tests

          # Upload to codecov
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov -t ${CODECOV_TOKEN} -s coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
