name: Coverage
on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download source
        uses: actions/checkout@v4
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Run tests with coverage
        run: |
          shards install
          crystal spec --coverage --stats
          crystal tool coverage src/
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
